.register_page {
  left: 100px;
  top: 80px;
  position: fixed;

  overflow: scroll;
  width: 99%;
  height: 93%;
  padding: 5px;

  transition:0.2s all;
}

.input_register_background {
	position: absolute;
  background-color: #39393C;
  border-radius: 10px;
  width: 800px;
  height: 35px;
  transition:0.2s all;
}

.input_register {
  float: right;
  color: #808080;
  border: 0;
  background-color: #404040;
  padding: 10px;
  height: 35px;
  width: 690px;
  border-radius: 10px;
  --transition:0.2s all;
}

.register_pointer_green {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #404040;
}

.register_page_button_container {
  cursor: pointer;
  position: absolute;
  background-color: #444446;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  transition:0.2s all;
}

.register_page_button_container:hover {
  background-color: #39393C;
}

.register_name_background {
  position: absolute;
  background-color: #39393C;
  border-radius: 10px;
  width: 300px;
  height: 35px;
  transition:0.2s all;
}

.register_list_background {
  position: absolute;
  background-color: #39393C;
  border-radius: 10px;
  transition:0.2s all;
}

.register_list_background h2 {
  margin: 5px 5px;
}
