.hidden_user_container_checkbox {
  display: none;
}

.hidden_user_container_checkbox_register {
  display: none;
}

.user_container_close {
  display: none;
  left: 1600px;
  top: 0px;
  height: 60px;
  opacity: 0;
  border-radius: 5px;
  width: 300px;
  position: fixed;
  transition:0.5s all;
}

.hidden_user_container_checkbox:checked ~ .user_container_close  {
  display: block;
  cursor: pointer;
}

.user_container {
  cursor: pointer;
  left: 1600px;
  top: 0px;
  height: 60px;
  background-color: #444446;
  border-radius: 5px;
  width: 300px;
  position: fixed;
  transition:0.5s all;
}

.hidden_user_container_checkbox:checked ~ .user_container  {
  cursor: default;
  height: 185px;
}

.user_container ul {
  height: 0px;
  overflow: hidden;

  transition: all 0.3s;
}

.hidden_user_container_checkbox:checked ~ .user_container ul {
  height: 140px;
  transition: all 0.85s;
}


.user_button_container {
  background-color: #444446;
  border-radius: 5px;
  width: 130px;
  height: 28px;
  transition:0.2s all;
  cursor: pointer;
}

.user_button_container:hover {
  background-color: #39393C;

}

.user_lvl_coin_container {
  background-color: #39393C;
  border-radius: 5px;
  width: 260px;
  height: 70px;
  transition:0.2s all;
  padding-left: 40px;
}

.user_login_container {
  display: block;
  width: 260px;
  height: 70px;
  transition:0.2s all;
  padding-left: 40px;
}


.login_button_container {
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 4px;

  background-color: #444446;
  border-radius: 5px;
  width: 145px;
  height: 28px;
  transition:0.2s all;
}

.login_button_container:hover {
  background-color: #39393C;
}

.register_button_container {
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 147px;

  background-color: #444446;
  border-radius: 5px;
  width: 145px;
  height: 28px;
  transition:0.2s all;
}

.register_button_container:hover {
  background-color: #39393C;
}

.user_info_bar_container {
  position: absolute;
  width: 285px;
  height: 45px;

  left: 8px;

  border-radius: 5px;
  background-color: #39393C;
}
