.chats_page {
  left: 100px;
  top: 70px;
  position: fixed;

  background-color: #333336;
  height: 100%;
  width: 100%;

  transition:0.2s all;
}

.vl_chats {
    border-left: 6px solid #808080;
    height: 100%;
    position: absolute;
    left: 445px;
    margin-left: -3px;
    top: 0;
}

.chat_container  {
  background-color: #333336;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 415px;
  height: 60px;
  transition:0.2s all;
}

.chat_container:hover {
  background-color: #39393C;
}

.chat_input_pos {
  position: absolute;
  left: 450px;
  bottom: 75px;

}

.chat_for_input_container {
  background-color: #39393C;
  position: absolute;
  left: 448px;
  width: 1500px;
  height: 135px;
  bottom: 0px;
}

.chat_input_container {
  color: #808080;
  border: 0;
  background-color: #333336;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  width: 1000px;
}

.chat_messages_pos {
  --background-color: #000;
  overflow: auto;
  position: absolute;
  left: 450px;
  top: 0px;
  width: 1370px;
  height: 800px;
}

.message_container {
  position: relative;
  top: 0%;
  width: 98.5%;
  height: 60px;
  background-color: #39393C;
  margin: 5px 0;

}

.message_username_class {
  position: absolute;
  left: 70px;
  top: -8px;
}

.message_text_class {
  position: absolute;
  left: 70px;
  top: 20px;
}

.message_time_class {
  position: absolute;
  right: 10px;
  margin: -50px 0px;
}

.chats_names_list {
  position: relative;
  top: 0%;
  width: 438px;
  height: 60px;
  background-color: #39393C;
  margin: 5px 0;
}

.chats_names_list h2 {
  position: absolute;
  left: 70px;
  top: -15px;
}

.chats_names_list h3 {
  position: absolute;
  left: 70px;
  top: 15px;
}

.chat_messages_pos::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.chat_messages_pos::-webkit-scrollbar-track {
  background: #222226;        /* color of the tracking area */
}

.chat_messages_pos::-webkit-scrollbar-thumb {
  background-color: #808080;    /* color of the scroll thumb */
}

.chats_list {
  overflow: auto; 
  height: 800px;

}

.chats_list::-webkit-scrollbar {
  display: none;
}