<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>[ 100LAR WEB ]</title>
    <link rel="shortcut icon" href="static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href = "static/main.1.1.css"/>

  </head>

  <body style="font: 13px Helvetica, Arial; margin:0 auto;" bgcolor = "#222226">
    <h1 align="center">Мобильная версия ещё недоступна.</h1>
    <h2>Но вы можете перейти на <a href="/main">весию для пк</a></h2>
  </body>
</html>
