<html id="html">
  <head>
    <meta charset="utf-8">
    <title>[ 100LAR WEB ]</title>
    <link rel="shortcut icon" href="static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href = "static/main.1.1.css"/>

    <link rel="stylesheet" href = "static/user_page.1.0.css"/>
    <link rel="stylesheet" href = "static/page_register.1.0.css"/>
    <link rel="stylesheet" href = "static/user_container.1.0.css"/>
    <link rel="stylesheet" href = "static/settings_page.1.0.css"/>

    <link rel="stylesheet" href = "static/slider.css"/>

  </head>

  <div class="background"></div>

  <body style="font: 13px Helvetica, Arial; width: 1900px; margin:0 auto;" bgcolor = "#222226">
    <div id="page_not_found" class="not_found_page">
      <div class="not_found_container">
      <h1 align="center">404 NOT FOUND</h1>
      <hr>
      <h2>Такой страницы на существует, либо она ещё в разработке.</h2>
    </div>

    <div id="page_register" class="register_page">
      <table class="even">
        <tr>
          <th valign="top">
            <div class="news_container_2_nohover" align="left" style="height: 360px;">
              <div class="register_name_background" style="left: 300px;">
                <image style="position: absolute; margin: 2px 8px; left: 20px" class="icon" width="30" height="30" src="static/img/rules.svg">
                <h1 align="center" style="font-size: 30; margin: 0px">Правила</h1>
              </div>
              <div class="register_list_background" style="position: absolute; top: 80px; height: 40px">
                <h1 style="margin: 2px 10px;">На нашем сайте запрещено:</h1>
              </div>
              <div class="register_list_background" style="position: absolute; top: 140px; left: 50px; width: 800px">
                <h2>1. Всем говорить что ты негр и то что белые мусор.</h2>
                <h2>2. Быть Жидом.</h2>
                <h2>3. Пропагандировать ЛГБТ (и все сказачные существа, сязанные с ними).</h2>
              </div>
              <div class="register_list_background" style="position: absolute; top: 300px; width: 860px">
                <h1 style="margin: 2px 10px;">За любое нарушение выше перечисленных правил, выдаётся бан.</h1>
              </div>
              <!--<p>4)Российское правительство.</p>-->
            </div>
          </th>
          <th valign="top">
            <div class="news_container_2_nohover" style="height: 260px;">
              <div class="register_name_background" style="left: 1200px;">
                <image style="position: absolute; margin: 5px 8px; left: 20px" class="icon" width="25" height="25" src="static/img/register.svg">
                <h1 align="center" style="font-size: 30; margin: 0px">Регистрация</h1>
              </div>
              <div class="input_register_background" style="top: 80px">
                <h3 style="margin: 8px 10px; float: left;">UserName: </h3>
                <input id="register_page_username" style="margin: 0px -10px;" type="text" placeholder="Login" class="input_register" style="left: 4px; top: 0px">
              </div>
              <div class="input_register_background" style="top: 130px">
                <h3 style="margin: 8px 10px; float: left;">Password: </h3>
                <input id="register_page_password" style="margin: 0px -10px;" type="Password" placeholder="Password" class="input_register" style="left: 4px; top: 0px">
              </div>
              <div class="input_register_background" style="top: 180px">
                <h3 style="margin: 8px 10px; float: left;">Repeat Password: </h3>
                <input id="register_page_password" style="margin: 0px -10px; width: 620px" type="Password" placeholder="Password" class="input_register" style="left: 4px; top: 0px">
              </div>
              <div class="input_register_background" style="top: 230px; width: 465px;">
                <h3 style="margin: 8px 10px; float: left;">С правилами данного сайта полность согласен</h3>
              </div>
              <label class="switch" style="top: 205px; left: 80px">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <div class="register_page_button_container" style="top:230px;left:1525px;">
                <h2 style="margin:10px 0px;">Register</h2>
              </div>
            </div>
          </th>
        </tr>
      </table>
    </div>

    <div id="page_home" class="home_page">
      <div class="home_page_settings">
        <div class="home_page_settings_button" style="left: 10px; top: 20px;">
            <image style="margin: 5px 5px;" class="icon" width="30" height="30" src="static/img/gear.svg">
            <h1 style="margin: -35px 40px">logout<h1>
          </div>
      </div>

      <div id="page_home_profile" class="home_page_profile">
        <img width="250" height="250" src="static/img/profile.svg" class = "icon">
        <div class="page_home_profile_information">
          <div class="page_home_profile_information_name">
            <h1 style="font-size: 3em; margin: 2px 10px">100LAR</h1>
          </div>

          <div class="page_home_profile_information_lvl">
            <image style="margin: 5px 5px;" class="icon" width="30" height="30" src="static/img/key.svg">
            <h1 style="margin: -35px 40px">LVL: 1 (A)<h1>
          </div>

          <div class="page_home_profile_information_coins">
            <image style="margin: 5px 5px;" class="icon" width="30" height="30" src="static/img/coin.svg">
            <h1 style="margin: -35px 40px">COINS: 1000<h1>
          </div>

          <div class="page_home_profile_information_button_settings">
            <image style="margin: 5px 5px;" class="icon" width="30" height="30" src="static/img/gear.svg">
            <h1 style="margin: -35px 40px">settings<h1>
          </div>

          <div class="page_home_profile_information_button_logout">
            <image style="margin: 5px 5px;" class="icon" width="30" height="30" src="static/img/logout.svg">
            <h1 style="margin: -35px 40px">logout<h1>
          </div>

          <div class="page_home_profile_information_xz">

          </div>

        </div>
      </div>
      <div id="page_home_news" class="home_page_news">
        <table>
          <tr>
            <th>
              <div class="news_container_4" style="height: 8px; background-color: 444446">
              </div>
            </th>
          </tr>
        </table>
          <ul>
            <li>
              <table>
                <tr>
                  <th valign="top">
                    <div class="news_container_2_nohover">
                      <h2>TANK MASTERS v0.0.51.x</h2>
                      <hr>
                      <img width="860" src="static/news_img/1.png">
                      <div class="news_container_1_hovered">
                        <h2>Список обновлений</h2>
                        <hr>
                        <p align="left"> - Редактор танка. Можно менять основу и башню.</p>
                        <p align="left"> - 2 Новый основания и 2 новых башни</p>
                      </div>

                      <div class="news_bottom_bar" style="height: 60px">
                        <div style="position: absolute">
                          <img class="icon" width="60" height="60"s src = "static/img/profile.svg" style="float: left">
                          <h2 style="margin: 15px 65px;" align="center">100LAR</h2>
                        </div>
                        <div style="float: right; margin: -20px 10px;">
                          <image style="margin: 5px 5px;" class="icon" width="30" height="30" src="static/img/arrow_up.svg">
                          <h2 style="margin: -10px 0px;">26<h2>
                          <image style="margin: -15px 0px; transform: rotate(180deg);" class="icon" width="30" height="30" src="static/img/arrow_up.svg">
                        </div>
                      </div>

                    </div>
                  </th>
                  <th valign="top">
                    <div class="news_container_2_nohover">
                      <h1>100LAR-WEB 2.0</h1>
                      <hr>
                      <h2>Новый дизайн и новые возможности.</h2>
                      <hr>
                      <img width="860" src="static/news_img/2.png">
                      <hr style="width: 92%" align="left">

                      <div class="news_bottom_bar" style="height: 60px">
                        <div style="position: absolute">
                          <img class="icon" width="60" height="60"s src = "static/img/profile.svg" style="float: left">
                          <h2 style="margin: 15px 65px;" align="center">100LAR</h2>
                        </div>
                        <div style="float: right; margin: -20px 10px;">
                          <image style="margin: 5px 5px;" class="icon" width="30" height="30" src="static/img/arrow_up.svg">
                          <h2 style="margin: -10px 0px">12<h2>
                          <image style="margin: -15px 0px; transform: rotate(180deg);" class="icon" width="30" height="30" src="static/img/arrow_up.svg">
                        </div>
                      </div>

                    </div>
                  </th>
                </tr>
              </table>
            </li>
            <li>
              <table>
                <tr>
                  <th>
                    <div class="news_container_2">
                      <img width="100%" src="static/news_img/asdfasdfzx.png">
                    </div>
                  </th>
                  <th valign="top">
                    <div class="news_container_1">
                      <h1>Press F to pay respect</h1>
                    </div>
                  </th>
                  <th valign="bottom">
                    <div class="news_container_1">
                      <img width="100%" src="static/news_img/w.png">
                    </div>
                  </th>
                </tr>
              </table>
            </li>
            <li>
              <table>
                <tr>
                  <th valign="top">
                    <div class="news_container_1_opacity">

                    </div>
                  </th>
                  <th valign="top">
                    <div class="news_container_1">
                      <h2>Его идей боялись даже свиньи</h2>
                    </div>
                  </th>
                  <th valign="top">
                    <div class="news_container_2">
                      <img width="100%" src="static/news_img/q.png">
                    </div>
                  </th>
                </tr>
              </table>
            </li>
            <li>
              <table>
                <tr>
                  <th valign="top">
                    <div class="news_container_1">
                      <img width="100%" src="static/news_img/uW0a5E5nmNE.png">
                    </div>
                  </th>
                  <th valign="top">
                    <div class="news_container_1">
                      <img width="100%" src="static/news_img/sergay.png">
                    </div>
                  </th>
                  <th valign="top">
                    <div class="news_container_1">
                      <h2>новая униформа СБУ вместе с cumуфляжем на лицо</h2>
                    </div>
                  </th>
                </tr>
              </table>
            </li>
            <li>
              <table>
                <tr>
                  <th valign="top">
                    <div class="news_container_1_opacity">
                    </div>
                  </th>
                  <th valign="top">
                    <div class="news_container_1">
                      <img width="100%" src="static/news_img/е.png">
                    </div>
                  </th>
                  <th valign="top">
                    <div class="news_container_1">
                      <img width="100%" src="static/news_img/LzpfQXW5aU0.jpg">
                    </div>
                  </th>
                  <th valign="top">
                    <div class="news_container_1">
                      <h2>Типичные партизаны ЛНР</h2>
                    </div>
                  </th>
                </tr>
              </table>
            </li>
            <li>
              <table>
                <tr>
                  <th valign="top">
                    <div class="news_container_1">
                      <h2>Глава украинской мафии</h2>
                    </div>
                  </th>
                  <th valign="top">
                    <div class="news_container_2">
                      <img width="100%" src="static/news_img/admin.png">
                    </div>
                  </th>
                </tr>
              </table>
            </li>
          </ul>
      </div>
    </div>

    <div id="page_settings" class="settings_page">
      <ul>
        <li>
          <table>
            <tr>
              <th valign="top">
                <div class="news_container_2_nohover" style="height: 100px;">
                  <label class="switch" style="position: absolute; top: 102px; left: 30px;" onclick="check_thame()">
                    <input type="checkbox" id="settings_thame_checkbox">
                    <span class="slider round"></span>
                  </label>
                  <div class="settings_list_background" style="width: 200px; height: 40px; top: 100px; left: 100px;">
                    <h2 style="margin: 5px 5px">Светлая тема</h2>
                  </div>

                </div>
              </th>
              <th valign="top">



                </div>
              </th>
            </tr>
          </table>
        </li>
      </ul>

    </div>

    <div id="page_news" class="news_page">
      <ul>
        <li>
          <table>
            <tr>
              <th valign="top">
                <div class="news_container_2_nohover">
                  <h2>TANK MASTERS v0.0.51.x</h2>
                  <hr>
                  <img width="860" src="static/news_img/1.png">
                  <div class="news_container_1_hovered">
                    <h2>Список обновлений</h2>
                    <hr>
                    <p align="left"> - Редактор танка. Можно менять основу и башню.</p>
                    <p align="left"> - 2 Новый основания и 2 новых башни</p>
                  </div>

                  <div class="news_bottom_bar" style="height: 60px">
                    <div style="position: absolute">
                      <img class="icon" width="60" height="60"s src = "static/img/profile.svg" style="float: left">
                      <h2 style="margin: 15px 65px;" align="center">100LAR</h2>
                    </div>
                    <div style="float: right; margin: -20px 10px;">
                      <image style="margin: 5px 5px;" class="icon" width="30" height="30" src="static/img/arrow_up.svg">
                      <h2 style="margin: -10px 0px;">26<h2>
                      <image style="margin: -15px 0px; transform: rotate(180deg);" class="icon" width="30" height="30" src="static/img/arrow_up.svg">
                    </div>
                  </div>

                </div>
              </th>
              <th valign="top">
                <div class="news_container_2_nohover">
                  <h1>100LAR-WEB 2.0</h1>
                  <hr>
                  <h2>Новый дизайн и новые возможности.</h2>
                  <hr>
                  <img width="860" src="static/news_img/2.png">
                  <hr style="width: 92%" align="left">

                  <div class="news_bottom_bar" style="height: 60px">
                    <div style="position: absolute">
                      <img class="icon" width="60" height="60"s src = "static/img/profile.svg" style="float: left">
                      <h2 style="margin: 15px 65px;" align="center">100LAR</h2>
                    </div>
                    <div style="float: right; margin: -20px 10px;">
                      <image style="margin: 5px 5px;" class="icon" width="30" height="30" src="static/img/arrow_up.svg">
                      <h2 style="margin: -10px 0px">12<h2>
                      <image style="margin: -15px 0px; transform: rotate(180deg);" class="icon" width="30" height="30" src="static/img/arrow_up.svg">
                    </div>
                  </div>

                </div>
              </th>
            </tr>
          </table>
        </li>
        <!--
        <li><hr><h1 align="center">Старый дизайн новестей</h1><hr></li>
        <li>
          <table>
            <tr>
              <th valign="top">
                <div class="news_container_1">
                  <h2>Новый дизайн и новые возможности.</h2>
                </div>
              </th>
              <th>
                <div class="news_container_2">
                  <h2>100LAR-WEB 2.0</h2>
                  <hr>
                  <img width="860" src="static/news_img/2.png">
                </div>
              </th>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_2">
                  <h2>TANK MASTERS v0.0.51.x</h2>
                  <hr>
                  <img width="860" src="static/news_img/1.png">
                </div>
              </th>
              <th valign="top">
                <div class="news_container_1">
                  <h2>Список обновлений</h2>
                  <hr>
                  <p align="left"> - Редактор танка. Можно менять основу и башню.</p>
                  <p align="left"> - 2 Новый основания и 2 новых башни</p>
                </div>
              </th>


        </li>

        <li>
          <table>
            <tr>
              <th>
                <hr>
                <h2 align="center">Рамки для новостей</h2>
                <hr>
                <br>
                <div class="news_container_4">
                  <p>SCALE 4</p>
                </div>
              </th>

            </tr>
          </table>

        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_3">
                  <p>SCALE 3</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_2">
                  <p>SCALE 2</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>

            </tr>
          </table>
        </li>
      -->
      </ul>

    </div>

    <div id="page_chats" class="chats_page">
      <div class="vl_chats"></div>
      <table>
        <tr>
          <th>
            <h2>CHATS</h2>
            <!--<br><br>
            <h1 style="position: absolute; left: 150px">Nothing</h1>-->
            <ul>
              <li>
                <div class="chats_names_list">
                  <h2>hello world</h1>
                </div>
              </li>
              <li>
                <div class="chats_names_list">
                  <h2>hello world</h1>
                </div>
              </li>
              <li>
                <div class="chats_names_list">
                  <h2>hello world</h1>
                </div>
              </li>
              <li>
                <div class="chats_names_list">
                  <h2>hello world</h1>
                </div>
              </li>
              <li>
                <div class="chats_names_list">
                  <h2>hello world</h1>
                </div>
              </li>
            </ul>

            <a href="javascript:open_page('page_add_chat')"><img class="icon" width="40" height="40" src="static/img/add.svg" style="position: absolute; left: 390px; top: 5px"></a>

          </th>
        </tr>
      </table>

      <div class="chat_for_input_container"></div>
      <div class="chat_input_pos">
        <input class="chat_input_container" type=text placeholder="Type text...">

      </div>
      <div class="chat_messages_pos">
        <!--<div style="position: absolute; left: 600px"><h1>Nothing</h1></div>-->

        <ul>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>

        </ul>

      </div>

    </div>



  </body>

  <div class = "top_hotbar">
    <input type="checkbox" id="user_container_checkbox" class="hidden_user_container_checkbox">
    <div id="user_container" class="user_container" onclick="user_container_show()">
      <img class="icon" width="60" height="60"s src = "static/img/profile.svg" style="float: left">
      <h2 align="center">GUEST</h2>
      <ul style="position: fixed;">
        <li>
          <p align="center">
            <div id="user_login_container" class="user_login_container">
              <input type="text" placeholder="Login" class="login_style_class" style="left: 4px; top: 0px">
              <input type="password" placeholder="Password" class="login_style_class" style="left: 4px; top: 40px">
              <div id="user_register_container" style="display: none">
                <input type="password" placeholder="Repeat password" class="login_style_class" style="left: 4px; top: 80px">
              </div>
              <div id="login_buttons_container" style="display: block">
                <div class="login_button_container">
                  <h2 style="margin: 3px 45px;">Login</h2>
                </div>
                <div class="register_button_container" onclick="open_page('page_register')">
                  <h2 style="margin: 3px 38px;">Register</h2>
                </div>
              </div>
            </div>
          </p>
        </li>
        <!--
        <li>
          <div class="user_button_container">
            <table>
              <tr>
                <th valign="top">
                  <image class="icon" width="20" height="20" src="static/img/user_icon.svg">
                </th>
                <th>
                  <p>profile</p>
                </th>
              </tr>
            </table>
          </div>
        </li>
        <li>
          <div class="user_button_container">
            <table>
              <tr>
                <th valign="top">
                  <image class="icon" width="20" height="20" src="static/img/settings_icon.svg">
                </th>
                <th>
                  <p>settings</p>
                </th>
              </tr>
            </table>
          </div>
        </li>
      -->
      </ul>
    </div>
    <div onclick="user_container_close()" class="user_container_close"></div>

    <input type="checkbox" id="notifications_container_checkbox" class="hidden_notifications_container_checkbox">
    <div class="mail_container" onclick="notifications_container_show()">
      <!--<a align="center" href = "javascript:open_page('page_mail')">-->
      <img class="icon" width="60" height="60"s src = "static/img/mail.svg" style="float: left; margin-left: 10;">
      <!--</a>-->
      <h2 align="center"><span>NOTIFICATIONS</span></h2>



      <ul style="position: fixed;">
        <li>
          <div class="mail_message_container">
            <img class="icon" width="60" height="60"s src = "static/img/profile.svg" style="float: left; margin-left: 0;">
            <h3>100LAR</h3>
            <p align="center">Добро пожаловать на борт!</p>
          </div>
        </li>
        <li>
          <div class="mail_message_container">
            <img class="icon" width="60" height="60"s src = "static/img/profile.svg" style="float: left; margin-left: 0;">
            <h3>Stone BOT</h3>
            <p align="center">Здесь будут показаны последние сообщения.</p>
          </div>
        </li>
      </ul>
    </div>
    <div onclick="notifications_container_close()" class="mail_container_close"></div>
  </div>


  <input type="checkbox" id="hmt" class="hidden-menu-ticker" onclick="left_hot_bar()">
  <div id="left_hotbar" class = "left_hotbar">
    <div id="vl_left_hotbar" class="vl_left_hotbar"></div>
    <hr>
    <ul>
      <li><p>
        <a id="page_home_button" href = "javascript:open_page('page_home')" class="nodecoration">
          <table class="left_hotbar_button_container">
            <tr>
              <th>
                <img class="icon" width="60" height="60"s src = "static/img/home.svg">
              </th>
              <th>
                <h2>HOME</h2>
              </th>
            </tr>
          </table>
        </a>
      </p></li>
      <li><p>
        <a id="page_news_button" href = "javascript:open_page('page_news')" class="nodecoration">
          <table class="left_hotbar_button_container">
            <tr>
              <th>
                <img class="icon" width="60" height="60"s src = "static/img/news.svg">
              </th>
              <th>
                <h2>NEWS</h2>
              </th>
            </tr>
          </table>
        </a>
      </p></li>
      <li><p>
        <a id="page_chats_button" href = "javascript:open_page('page_chats')" class="nodecoration">
          <table class="left_hotbar_button_container">
            <tr>
              <th>
                <img class="icon" width="60" height="60"s src = "static/img/chats.svg">
              </th>
              <th>
                <h2>CHATS</h2>
              </th>
            </tr>
          </table>
        </a>
      </p></li>
      <!--
      <li><p>
        <a id="page_1_button" href = "javascript:open_page('page_home')" class="nodecoration">
          <table class="left_hotbar_button_container">
            <tr>
              <th>
                <img class="icon" width="60" height="60"s src = "static/img/profiles.svg">
              </th>
              <th>
                <h2>FRIENDS</h2>
              </th>
            </tr>
          </table>
        </a>
      </p></li>
    -->
    </ul>
    <hr>
    <div class="left_hotbar_settings_button_container">
      <a id="page_settings_button" href = "javascript:open_page('page_settings')" class="nodecoration">
        <p><table class="left_hotbar_button_container">
          <tr>
            <th>
              <img class="icon" width="60" height="60"s src = "static/img/settings.svg">
            </th>
            <th>
              <h2>SETTINGS</h2>
            </th>
          </tr>
        </table></p>
      </a>
    </div>
    <!--
    <div style="position: fixed; bottom: 8px; cursor: pointer">
      <hr>
      <p><table class="left_hotbar_button_container">
        <tr>
          <th>
            <img class="icon" width="60" height="60"s src = "static/img/warning.svg">
          </th>
          <th>
            <h2>WARNINGS</h2>
          </th>
        </tr>
      </table></p>
      <hr>
    </div>
  -->


  </div>

  <!--<label class="btn-menu" for="hmt">
    <img class="icon" width="50" height="50"s src = "static/img/apps.svg" style="float: left; margin-left: 0;">
  </label>-->

  <div id="loading_background" class="loading_background">
    <p><h1>Loading...</h1></p>
  </div>


  <script type="text/javascript" src="static/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="static/main.1.1.js"></script>

</html>
