<html>
  <head>
    <meta charset="utf-8">
    <title>[ 100LAR WEB ]</title>
    <link rel="shortcut icon" href="static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href = "static/main.1.1.css"/>

  </head>

  <body style="font: 13px Helvetica, Arial; width: 1900px; margin:0 auto;" bgcolor = "#222226">
    <div id="page_not_found" class="not_found_page">
      <div class="not_found_container">
      <h1 align="center">404 NOT FOUND</h1>
      <hr>
      <h2>Такой страницы на существует, либо она ещё в разработке.</h2>
    </div>
    <div id="page_home" class="home_page">
      <div id="page_home_profile" class="home_page_profile">
        <img width="300" src="static/img/profile.svg" class = "icon">
        <div class="page_home_profile_information">
         <li>
           <table>
             <tr>
                 <h1>Name:</h1>
             </tr>
             <tr>
                 <h1>Email:</h1>
             </tr>
             <tr>
                 <h1>Coins:</h1>
             </tr>
             <tr>
                 <h1>LVL:</h1>
             </tr>
             <tr>
                 <h1>xxxxx:</h1>
             </tr>
           </table>
         </li>
        </div>
      </div>
      <div id="page_home_news" class="home_page_news">
        <li>
          <table>
            <tr>
              <th>
                <hr>
                <h2 align="center">Рамки для новостей</h2>
                <hr>
                <br>
                <div class="news_container_4">
                  <p>SCALE 4</p>
                </div>
              </th>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_3">
                  <p>SCALE 3</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_2">
                  <p>SCALE 2</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>

            </tr>
          </table>
        </li>
      </div>
    </div>
    <div id="page_settings" class="settings_page">
      <a href=""><h2>Вызвать уведомление</h2></a>
    </div>
    <div id="page_register" class="register_page">
      <ul>
        <li>
          <table>
            <tr>
              <th>
                <hr>
                <h2 align="center">Рамки для новостей</h2>
                <hr>
                <br>
                <div class="news_container_4">
                  <p>SCALE 4</p>
                </div>
              </th>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_3">
                  <p>SCALE 3</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_2">
                  <p>SCALE 2</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>

            </tr>
          </table>
        </li>
      </ul>
    </div>
    <div id="page_news" class="news_page">
      <ul>
        <li>
          <table>
            <tr>
              <th valign="top">
                <div class="news_container_1">
                  <h2>Новый дизайн и новые возможности.</h2>
                </div>
              </th>
              <th>
                <div class="news_container_2">
                  <h2>100LAR-WEB 2.0</h2>
                  <hr>
                  <img width="860" src="static/news_img/2.png">
                </div>
              </th>



        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_2">
                  <h2>TANK MASTERS v0.0.51.x</h2>
                  <hr>
                  <img width="860" src="static/news_img/1.png">
                </div>
              </th>
              <th valign="top">
                <div class="news_container_1">
                  <h2>Список обновлений</h2>
                  <hr>
                  <p align="left"> - Редактор танка. Можно менять основу и башню.</p>
                  <p align="left"> - 2 Новый основания и 2 новых башни</p>
                </div>
              </th>


        </li>

        <li>
          <table>
            <tr>
              <th>
                <hr>
                <h2 align="center">Рамки для новостей</h2>
                <hr>
                <br>
                <div class="news_container_4">
                  <p>SCALE 4</p>
                </div>
              </th>

            </tr>
          </table>

        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_3">
                  <p>SCALE 3</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_2">
                  <p>SCALE 2</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
            </tr>
          </table>
        </li>
        <li>
          <table>
            <tr>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>
              <th>
                <div class="news_container_1">
                  <p>SCALE 1</p>
                </div>
              </th>

            </tr>
          </table>
        </li>
      </ul>

    </div>

    <div id="page_chats" class="chats_page">
      <div class="vl_chats"></div>
      <table>
        <tr>
          <th>
            <h2>CHATS</h2>
            <!--<br><br>
            <h1 style="position: absolute; left: 150px">Nothing</h1>-->
            <ul>
              <li>
                <div class="chats_names_list">
                  <h2>hello world</h1>
                </div>
              </li>
              <li>
                <div class="chats_names_list">
                  <h2>hello world</h1>
                </div>
              </li>
              <li>
                <div class="chats_names_list">
                  <h2>hello world</h1>
                </div>
              </li>
              <li>
                <div class="chats_names_list">
                  <h2>hello world</h1>
                </div>
              </li>
              <li>
                <div class="chats_names_list">
                  <h2>hello world</h1>
                </div>
              </li>
            </ul>

            <a href="javascript:open_page('page_add_chat')"><img class="icon" width="40" height="40" src="static/img/add.svg" style="position: absolute; left: 390px; top: 5px"></a>

          </th>
        </tr>
      </table>

      <div class="chat_for_input_container"></div>
      <div class="chat_input_pos">
        <input class="chat_input_container" type=text placeholder="Type text...">

      </div>
      <div class="chat_messages_pos">
        <!--<div style="position: absolute; left: 600px"><h1>Nothing</h1></div>-->

        <ul>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>
          <li>
            <div class="message_container">
              <h2 class="message_username_class">hello world</h1>
                <h3 class="message_text_class">hello world</h3>
            </div>
          </li>

        </ul>

      </div>

    </div>



  </body>
<!--
.hidden_user_container_checkbox:checked ~ .user_container {
  height: 200px;
}

.user_container ul {
  height: 0px;
  overflow: hidden;

  transition: all 0.3s;
}

.hidden_user_container_checkbox:checked ~ .user_container ul {
  height: 200px;
  transition: all 0.85s;
}

.user_button_container {
  background-color: #444446;
  border-radius: 5px;
  width: 300px;
  height: 28px;
  transition:0.2s all;
}
-->
  <div class = "top_hotbar">
    <input type="checkbox" id="user_container_checkbox" class="hidden_user_container_checkbox">
    <div id="user_container" class="user_container" onclick="user_container_show()">
    <!--<div id="user_container" class="user_container">-->
      <img class="icon" width="60" height="60"s src = "static/img/profile.svg" style="float: left">
      <h2 align="center">GUEST</h2>
      <ul style="position: fixed;">

        <li>

          <p align="center">
            <!--<div class="user_lvl_coin_container">

              <table>
                <tr>
                  <th width="25%">
                    <image class="icon" width="30" height="30" src="static/img/key.svg">
                  </th>
                  <th width="25%">
                    <p>0</p>
                  </th>
                </tr><tr>
                  <th width="25%">
                    <image class="icon" width="30" height="30" src="static/img/coin.svg">
                  </th>
                  <th width="25%">
                    <p>0</p>
                  </th>
                </tr>
              </table>
            </div>-->
            <div class="user_login_container">

              <input type="text" placeholder="Login" class="login_style_class" style="left: 2px; top: 0px">
              <input type="password" placeholder="Password" class="login_style_class" style="left: 2px; top: 40px">
              <div class="login_button_container">
                <h2 style="margin: 3px 45px;">Login</h2>
              </div>
              <div class="register_button_container" onclick="open_page('page_register')">
                <h2 style="margin: 3px 38px;">Register</h2>
              </div>
            </div>
          </p>
        </li>
        <!--
        <li>
          <div class="user_button_container">
            <table>
              <tr>
                <th valign="top">
                  <image class="icon" width="20" height="20" src="static/img/user_icon.svg">
                </th>
                <th>
                  <p>profile</p>
                </th>
              </tr>
            </table>
          </div>
        </li>
        <li>
          <div class="user_button_container">
            <table>
              <tr>
                <th valign="top">
                  <image class="icon" width="20" height="20" src="static/img/settings_icon.svg">
                </th>
                <th>
                  <p>settings</p>
                </th>
              </tr>
            </table>
          </div>
        </li>
      -->
      </ul>
    </div>

    <input type="checkbox" id="notifications_container_checkbox" class="hidden_notifications_container_checkbox">
    <div class="mail_container" onclick="notifications_container_show()">
      <!--<a align="center" href = "javascript:open_page('page_mail')">-->
      <img class="icon" width="60" height="60"s src = "static/img/mail.svg" style="float: left; margin-left: 10;">
      <!--</a>-->
      <h2 align="center"><span>NOTIFICATIONS</span></h2>
      <div>

      </div>
      <ul style="position: fixed;">
        <li>
          <div class="mail_message_container">
            <img class="icon" width="60" height="60"s src = "static/img/profile.svg" style="float: left; margin-left: 0;">
            <h3>100LAR</h3>
            <p align="center">Добро пожаловать на борт!</p>
          </div>
        </li>
        <li>
          <div class="mail_message_container">
            <img class="icon" width="60" height="60"s src = "static/img/profile.svg" style="float: left; margin-left: 0;">
            <h3>Stone BOT</h3>
            <p align="center">Здесь будут показаны последние сообщения.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <input type="checkbox" id="hmt" class="hidden-menu-ticker" onclick="left_hot_bar()">
  <div id="left_hotbar" class = "left_hotbar">
    <div id="vl_left_hotbar" class="vl_left_hotbar"></div>
    <hr>
    <ul>
      <li><p>
        <a id="page_home_button" href = "javascript:open_page('page_home')" class="nodecoration">
          <table class="left_hotbar_button_container">
            <tr>
              <th>
                <img class="icon" width="60" height="60"s src = "static/img/home.svg">
              </th>
              <th>
                <h2>HOME</h2>
              </th>
            </tr>
          </table>
        </a>
      </p></li>
      <li><p>
        <a id="page_news_button" href = "javascript:open_page('page_news')" class="nodecoration">
          <table class="left_hotbar_button_container">
            <tr>
              <th>
                <img class="icon" width="60" height="60"s src = "static/img/news.svg">
              </th>
              <th>
                <h2>NEWS</h2>
              </th>
            </tr>
          </table>
        </a>
      </p></li>
      <li><p>
        <a id="page_chats_button" href = "javascript:open_page('page_chats')" class="nodecoration">
          <table class="left_hotbar_button_container">
            <tr>
              <th>
                <img class="icon" width="60" height="60"s src = "static/img/chats.svg">
              </th>
              <th>
                <h2>CHATS</h2>
              </th>
            </tr>
          </table>
        </a>
      </p></li>
      <!--
      <li><p>
        <a id="page_1_button" href = "javascript:open_page('page_home')" class="nodecoration">
          <table class="left_hotbar_button_container">
            <tr>
              <th>
                <img class="icon" width="60" height="60"s src = "static/img/profiles.svg">
              </th>
              <th>
                <h2>FRIENDS</h2>
              </th>
            </tr>
          </table>
        </a>
      </p></li>
    -->
    </ul>
    <hr>
    <div class="left_hotbar_settings_button_container">
      <a id="page_settings_button" href = "javascript:open_page('page_settings')" class="nodecoration">
        <p><table class="left_hotbar_button_container">
          <tr>
            <th>
              <img class="icon" width="60" height="60"s src = "static/img/settings.svg">
            </th>
            <th>
              <h2>SETTINGS</h2>
            </th>
          </tr>
        </table></p>
      </a>
    </div>
    <!--
    <div style="position: fixed; bottom: 8px; cursor: pointer">
      <hr>
      <p><table class="left_hotbar_button_container">
        <tr>
          <th>
            <img class="icon" width="60" height="60"s src = "static/img/warning.svg">
          </th>
          <th>
            <h2>WARNINGS</h2>
          </th>
        </tr>
      </table></p>
      <hr>
    </div>
  -->


  </div>

  <!--<label class="btn-menu" for="hmt">
    <img class="icon" width="50" height="50"s src = "static/img/apps.svg" style="float: left; margin-left: 0;">
  </label>-->

  <div id="loading_background" class="loading_background">
    <p><h1>Loading...</h1></p>
  </div>


  <script type="text/javascript" src="static/jquery-3.6.0.js"></script>
  <script type="text/javascript" src="static/main.1.1.js"></script>

</html>
